*{
    font-family: Nunito
}

.heading{
    text-align: center;
    margin: 3%;
}



// yelling greeter : --------------------------------------------------

#yellingGreeter{

    text-align: center;

    #message{
        background-color: #ff7575;
        width: 30vw;
        margin: 2% auto;
        padding: 3%; 
    }
    input{
        padding: 0.15% 5% 0.15% 0.5%; 
    }

    .yellBtn{
        border: 1px solid #ff0000;
        border-radius: 3px;
        background-color: rgba(255, 117, 117, 0.3);
        padding: 0.18% 3%;
        margin-left: 1%;
    }
}






// happy message : --------------------------------------------------

#happyMessage{
    text-align: center;


    #randomMessage{
        background-color: #FAFAD3;
        width: 30vw;
        margin: 2% auto;
        padding: 3%;
    }
    #happyBtn{
        border: 1px solid #ffff00;
        background-color: rgba(250, 250, 211, 0.25);
        border-radius: 3px;
        padding: 0.18% 3%;

    }
}










// business card : --------------------------------------------------

#businessCardWrapper{
    margin-left: 5em;

    #businessCard{
    
        #name{
            font-size: 1.75em;
            margin:  0.35em 0.6em 0;
            font-weight: 800;
        }
        #title{
            margin: 0 0.9em;
            font-size: 1.25em;
            font-style: italic;
            font-weight: 700;
            border-bottom: 2px solid;
            padding-bottom: 3%;
    
        }
        #phone{
            margin: 0.7em 1em 0.3em;
            font-size: 1em
        }
        #email{
            margin: 0.5em 1em;
            font-size: 1em
        }
        #address{
            margin: 0.5em 1em;
            font-size: 1em
        }
    }

    

    .cardAndForm{
        display: flex;
        flex-direction: row;
        
        .bCard{
            margin-right: 5%;
        }

        .bForm{
            width: 60vw;

            label{
                min-width: 10vw;
                margin-right: 3%;
            }
            
                

        
            
            
        }
    }


    
}


// cookie clicker :

#cookieClick{
    margin: 0 auto;
    width: 30vw;
    padding: 3%;
    text-align: center;
    background-color: lightcyan;

}


// tweeter :

#newPostForm{
    margin: 0 auto;
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}




@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');



