*{
    font-family: Nunito
}

.heading{
    text-align: center;
    margin: 3%;
}



// business card : 



#businessCardWrapper{
    margin-left: 5em;

    #businessCard{
    
        #name{
            font-size: 1.75em;
            margin:  0.35em 0.6em 0;
            font-weight: 800;
        }
        #title{
            margin: 0 0.9em;
            font-size: 1.25em;
            font-style: italic;
            font-weight: 700;
            border-bottom: 2px solid;
            padding-bottom: 3%;
    
        }
        #phone{
            margin: 0.7em 1em 0.3em;
            font-size: 1em
        }
        #email{
            margin: 0.5em 1em;
            font-size: 1em
        }
        #address{
            margin: 0.5em 1em;
            font-size: 1em
        }
    }

    .cardAndForm{
        display: flex;
        flex-direction: row;
        
        .bCard{
            margin-right: 5%;
        }

        .bForm{
            width: 60vw;

            label{
                min-width: 8vw;
                margin-right: 3%;
            }
            
                

        
            
            
        }
    }


    
}




@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');



